<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>962909213810-n4kq1bvn5lac21p0v96d0cilf411q4r1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.962909213810-n4kq1bvn5lac21p0v96d0cilf411q4r1</string>
	<key>API_KEY</key>
	<string>AIzaSyCXsaBQCYBsedlDjp4m8HSCpiFC3mjlT4I</string>
	<key>GCM_SENDER_ID</key>
	<string>962909213810</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dewerro.Foodly</string>
	<key>PROJECT_ID</key>
	<string>foodly-3fd64</string>
	<key>STORAGE_BUCKET</key>
	<string>foodly-3fd64.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:962909213810:ios:ef1a6b9b390cca09355eeb</string>
</dict>
</plist>